##### ŞAHMAT
Modern satranç teorisi, kültürü ve etkileşimli analizlerden oluşan küratörlü bir günlük. ChessPublica tarafından tasarlandı.

###### Bölümler
- [Strateji](https://raw.githubusercontent.com/sahvemat/sahvemat.github.io/main/_includes/footer.html)
- [Tarih](https://raw.githubusercontent.com/sahvemat/sahvemat.github.io/main/_includes/footer.html)
- [Bulmacalar](https://raw.githubusercontent.com/sahvemat/sahvemat.github.io/main/_includes/footer.html)
- [Arşiv](https://raw.githubusercontent.com/sahvemat/sahvemat.github.io/main/_includes/footer.html)

###### Sosyal Medya
- [Instagram](https://raw.githubusercontent.com/sahvemat/sahvemat.github.io/main/_includes/footer.html)
- [Twitter X](https://raw.githubusercontent.com/sahvemat/sahvemat.github.io/main/_includes/footer.html)
- [RSS Kaynağı](https://raw.githubusercontent.com/sahvemat/sahvemat.github.io/main/_includes/footer.html)
