<section class="puzzle-section">
    <div class="puzzle-info">
        <h2 class="puzzle-title">GÜNÜN<br><span class="puzzle-accent">SORUSU</span></h2>
        <p class="puzzle-desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        <div class="puzzle-meta">
            <div>Mauris blandit bibendum volutpat.</div>
        </div>
    </div>
    <div class="puzzle-board-area">
        <div class="puzzle-board-bg"></div>
        <div class="puzzle-board">
            <header class="puzzle-board-header">
                <span>Phasellus ut felis a dolor suscipit aliquet in et nisl.</span>
                <span class="accent-text">Donec et ipsum a libero tempor imperdiet in ut justo.</span>
            </header>
            <div class="board-grid puzzle-grid" id="puzzle-rotator" data-pgn-src="https://sahvemat.github.io/assets/pgn/matein1.pgn"></div>
            <footer class="puzzle-board-footer">
                <button class="solution-btn">Çözümü Göster</button>
            </footer>
        </div>
    </div>
</section>
